body{
    background-color: rgb(39, 43, 46);
    text-align: center;
    color: rgb(207, 222, 103);
}

header{
    border: 2px solid rgb(207, 222, 103);
    display: inline-block;
    padding: 16px 32px;
    margin: 32px auto;
}

h3{
    font-size: 40px;
}

.linkedin {
    margin: 20px;
    border: 2px solid rgb(210, 134, 189);
    padding: 10px;
    color: rgb(210, 134, 189);
    background-color: rgb(39, 43, 46);
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.linkedin-link {
    color: rgb(210, 134, 189);
    text-decoration: none;
    font-weight: bold;
}

.linkedin-link:hover {
    text-decoration: underline;
    color: #fff;
}