body{
    background-color: rgb(39, 43, 46);
    text-align: center;
    color: rgb(207, 222, 103);
}

header{
    border: 2px solid rgb(207, 222, 103);
    display: inline-block;
    padding: 16px 32px;
    margin: 32px auto;
}

.menu a {
    color: rgb(238, 233, 228);
    text-decoration: none;
    font-weight: bold;
    margin: 0 8px;
    transition: color 0.2s;
}

.menu a:hover {
    color: rgb(210, 134, 189);
    text-decoration: underline;
}

h1{
    font-size: 52px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 24px;
}

.linkedin {
    margin: 20px;
    border: 2px solid rgb(210, 134, 189);
    padding: 10px;
    color: rgb(210, 134, 189);
    background-color: rgb(39, 43, 46);
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
}

.linkedin-link {
    color: rgb(210, 134, 189);
    text-decoration: none;
    font-weight: bold;
}

.linkedin:hover {
    background-color: rgb(210, 134, 189);
    color: rgb(39, 43, 46);
}