body{
    background-color: rgb(39, 43, 46);
    text-align: center;
    color: rgb(207, 222, 103);
}

header{
    border: 2px solid rgb(207, 222, 103);
    display: inline-block;
    padding: 16px 32px;
    margin: 32px auto;
}

