/* Color palette */ 
:root {
    --black: rgb(39, 43, 46);
	--black-hover: rgb(59, 63, 66);
    --white: rgb(238, 233, 228);
	--green: rgb(207, 222, 103);
	--green-hover: rgb(227, 242, 123);
	--pink: rgb(210, 134, 189);
}