<div class="site-footer" id="site-footer">
    <div class="site-footer__inner">
        <div class="site-footer__columns legal-columns">
            <div class="site-footer__legal">
                <h3 class="site-footer__heading translatable-content" data-translate="footer.column.legal">Legal Pages</h3>
                <div class="site-footer__links">
                    <a class="site-footer__link translatable-content" data-translate="footer.link.privacy" href="/legal-pages/privacy/">Privacy Policy</a>
                    <a class="site-footer__link translatable-content" data-translate="footer.link.terms" href="/legal-pages/terms/">Terms of Service</a>
                    <a class="site-footer__link translatable-content" data-translate="footer.link.imprint" href="/legal-pages/imprint/">Legal Notice (Imprint)</a>
                    <a class="site-footer__link translatable-content" data-translate="footer.link.cookies" href="/legal-pages/cookies/">Cookie Notice</a>
                </div>
            </div>
        </div>

        <div class="site-footer__bottom">
            <p class="site-footer__copyright translatable-content" data-translate="footer.copy">© 2025 BitMinded. Built with care in Switzerland.</p>
        </div>
    </div>
</div>

