<nav class="faq-nav" id="faq-nav">
    <ul class="faq-nav__list">
        <li class="faq-nav__item">
            <a href="/faq/general/" class="faq-nav__link translatable-content" data-i18n="faq-nav-general">General</a>
        </li>
        <li class="faq-nav__item">
            <a href="/faq/catalog-access/" class="faq-nav__link translatable-content" data-i18n="faq-nav-catalog-access">Catalog Access</a>
        </li>
        <li class="faq-nav__item">
            <a href="/faq/commissioning/" class="faq-nav__link translatable-content" data-i18n="faq-nav-commissioning">Commissioning</a>
        </li>
        <li class="faq-nav__item">
            <a href="/faq/tech-support/" class="faq-nav__link translatable-content" data-i18n="faq-nav-tech-support">Tech Support</a>
        </li>
        <li class="faq-nav__item">
            <a href="/faq/account-billing/" class="faq-nav__link translatable-content" data-i18n="faq-nav-account-billing">Account & Billing</a>
        </li>
    </ul>
</nav>

